.hero
  background-color: $prime
  color: $white

  h1, h2
    color: inherit

  a:not([class])
    color: inherit
    border-bottom: 1px solid $white

    @media (hover: hover)
      &:hover
        border-bottom: 0

  &__content
    height: inherit

  &__banner
    grid-area: banner
    position: relative

    &::before
      content: ''
      width: 150vw
      height: calc(100% + 5em)
      background-color: $prime
      position: absolute
      top: -2em
      right: -10%
      z-index: -1


  &--home
    height: em(800)
    position: relative

    > .wrapper
      width: 100%
      height: inherit
      position: absolute
      z-index: 3

    > .slider
      width: 100%
      height: inherit
      position: absolute
      top: 0
      left: 0
      z-index: 1