.hero
  background-color: $prime
  color: $white

  h1, h2
    color: inherit

  a:not([class])
    color: inherit
    border-bottom: 1px solid $white

    @media (hover: hover)
      &:hover
        border-bottom: 0