extends ../../layout/_layout

block var
  - pageTitle = 'Stations & Divisions'
  - description = 'This is a template'
  - bulletin = 'current'

  //- This works but I'm repeating myself.
  - crumbs = {'About Us': '/about/','Stations & Divisions':'last'}

block content

  main#main(class='[ main ]')
  
    include ../../partials/_hero

    div(class='[ layout sidebar--right ][ x--wide grid gc--3 gr--2 py--5 ]')

      article(class='[ content ]')


      -
        pages = [
          {title:'About Us', link:'/about/'},
          {title:'Our History', link:'/about/our-history'},
          {title:'Executive Team', link:'/about/executive-team'},
          {title:'Stations & Divisions', link:'/about/stations-divisions'},

        ]
        
      aside(class='[ sidebar ]')

        nav(class='[ sidebar__navigation ][ pt--1.5 pb--2 ]')
          
          h3(class='[ font--4 ][ mb--0.5 ]') Section links
          
          ul(class='[ sidebar__menu ][ grid gr--0.25 ]')
            each page in pages
              li(class='[ sidebar__menu__item ]')
                a(href=page.link)= page.title

        div(class='[ pt--2 ]')
          h4(class='[ font--5 ]') Share this page
          
          ul(class='[ social ]')