extends ../../../layout/_layout

block var
  - pageTitle = 'Wanted'
  - description = 'This is a template'

  - wanted = 'current'

  - crumbs = {'Wanted':'last'}
  
block content

  main#main(class='[ main ]')

    include ../../../partials/_hero

    div(class='[ x--wide pt--2 pb--5 ]')
      include ../../../partials/_warning

      ul(class='[ wanted ] [ grid x2--md x3--lg pt--5 ]')
        - w = 0;
        while w++ < 9

          li(class='[ wanted__item ]')
            a(class='[ flex--col ]' href='/wanted/post')
              h3(class='[ wanted__name ] [ o--2 ]') Philip Clinton Bootle
              p(class='[ wanted__crime ] [ o--3 ]') Murder
              figure(class='[ wanted__img ] [ o--1 ]')
                +img('philip-clinton-booth-wanted', 'Philip Clinton Bootle')(class='[ ratio--1:1 ]')


      include ../../../components/_paginate