extends ../layout/_layout

block var
  - let homepage = true
  - let homepageSuffix = 'Creating Safer Communities'
  - let description = 'The Royal Bahamas Police Force is dedicated to ensuring the safety and well-being of Bahamians, residents and visitors across the entire Bahamas through vigilant protection, law enforcement, and community engagement.'
  
block content

  main#main(class='[ main ]')

    include ../partials/_hero
    
    div(class='[ x--wide grid gr--5 py--5 ]')

      - i = 0

      section
        -
          services = [
            {name: 'Request a service'},
            {name: 'Become an Officer'},
            {name: 'Contact the Media Office'},

          ]

        ul(class='[ list list--services ][ grid x2--md x3--lg ]')

          each item, service in services

            li(class='[ service ][ py--2 px--1 ]')

              h2(class='[ font--5 ][ mb--0.5 ]') 

                a(href='')= item.name

              p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam, nostrum voluptate, perspiciatis in beatae asperiores mollitia quibusdam culpa eius quo quae vitae quisquam quidem fugit.


      section(class='[ grid x2--md ]')

        div

          h2 Commitment to Community and Safety

          p(class='[ font--4 font--500 ]') Grounded in professionalism, integrity, and robust community partnerships, the Royal Bahamas Police Force (RBPF) envisions a Bahamas where safety is paramount, fostering an environment for every individual to thrive.

          p At the heart of our mission is a commitment to vigilant protection and proactive community engagement. The RBPF strives to create an atmosphere where residents and visitors alike feel secure, knowing that we are not just enforcers of the law but invested partners in community well-being.
          
          p Our officers, driven by a genuine concern for the people they serve, work tirelessly to prevent crime, maintain order, and uphold the values of care, respect, and trust.

          a(class='[ btn btn--solid--lg solid--prime ]' href='/about/') Learn More 
            span(class='[ hidden ]') About Us


        figure(class='[]')
          img(src="", alt="")

      section()

        h2 RBPF News &amp; Updates

        div(class='[ reel ]')

        ul(class='[ grid gr--1 ]')
          - 
            bulletin = [
              {title:'Safe Driver Awards in Lyford Cay ', desc:'The Western and Traffic Divisions in partnership with the Lyford Cay Security Team conducted a joint Road Safety initiative in Lyford Cay.'}
            ]
          
          - l = 0;
          while l++ < 5
            li(class='[ reel--post ]')

                h3(class='[ font--5 font--400 ]')
                  a(href='/bulletin/post') Safe Driver Awards in Lyford Cay
                
                <time datetime="2024-01-02">January 2, 2024</time>

