//- Set dev or production environment
//- - let pro = true

//- Project Url
- siteUrl = 'rbpf.bs' //- Do not forget trailing slash on the domaing name.

- siteName = 'Royal Bahamas Police Force'

- imgUrl = 'https://rbpf.bs/uploads/'

//- Cloudinary account
- cloud = 'royalbpf'

- postTitle = ''

- lorem = 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum nulla, accusantium obcaecati iusto quis animi nesciunt delectus, recusandae quidem aliquam dolorum quaerat voluptatem eos non asperiores fugit modi ipsa. Dolorum!'

- follow = 'Follow me on '

- share = 'Share on '