//- Set dev or production environment
//- - let pro = true

//- Project Url
- let siteUrl = 'rbpf.bs' //- Do not forget trailing slash on the domaing name.

- let siteName = 'Royal Bahamas Police Force'

//- Cloudinary account
- let cloud = ''

- let postTitle = ''

- let lorem = 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum nulla, accusantium obcaecati iusto quis animi nesciunt delectus, recusandae quidem aliquam dolorum quaerat voluptatem eos non asperiores fugit modi ipsa. Dolorum!'

- let follow = 'Follow me on '

- let share = 'Share on '