include ../components/_breadcrumbs

if homepage
  
  header(class='[ hero hero--home ]')

    h1(class='[ hidden ]') Royal Bahamas Police Force
  
    div(class='[ wrapper ]')

      div(class='[ hero__content ][ x--wide flex--bottom py--5 mb--2 ]')

        div(class='[ hero__banner ]')

          h2(class='[ font--1 ]') Creating Safer Communities

          p(class='[ ch--54 ]') The Royal Bahamas Police Force is dedicated to ensuring the safety and well-being of Bahamians, residents and visitors across the entire Bahamas through vigilant protection, law enforcement, and community engagement.

          div(class='[ ch--35 grid x2--md g--1 mb--1 ]')

            a(class='[ btn btn--solid--lg solid--wht ]' href='/report/') Make a Report

            a(class='[ btn btn--ghost--lg ghost--wht ]' href='#') File a Complaint

        
          small(class='[ block ]')
            | Have you witnessed exemplary service or positive actions? 
            strong 
              a(href='#') Commend an officer.


    -
      images = [
        {path:'commissioner-fernander-majority-rule', alt:'Commissioner Clayton Fernander at Majority Rule church service', position: 'top-right'},
        {path:'rbpf-funeral-salute', alt:'ACP saluting fallen officer before committal', position: 'top'},
        {path:'commissioner-fernander-governor-general-cynthia-pratt', alt:'Commissioner Fernander greeting Her Excellency, Governor General of The Bahamas, Cynthia Pratt', position: 'top-right'},
        
      ]

    include ../components/_slider

else
  
  header(class='[ hero ]')

    div(class='[ wrapper ] [ x--wide py--5 ]')

      div(class='[ hero__text ]')

        h1= pageTitle

        +breadcrumbs(crumbs)
