extends ../../layout/_layout
include ../../components/_breadcrumbs

block var
  - let pageTitle = 'Wanted by RBPF: John Doe'
  - let description = 'This is a template'
  - crumbs = {'Wanted':'/wanted', 'John Doe':'last'}
  
block content

  main#main(class='[ main ] [ x--wide pb--5 ]')
    
    +breadcrumbs(crumbs)(class='[ py--2 ]')

    div(class='[ poster ] [ grid x2--md pb--2 ]')
      
      div(class='[ poster__details ] [ o--2 ]')
        
        header(class='[ flex--col ] [ pb--1 ]')

          h1(class='[ name ] [ pt--050 o--2 ]')
            span(class='[ name--first ]') John
            | 
            span(class='[ name--last ]') Doe 

          h2(class='[ notice--type ] [ p--025 o--1 ]') Wanted
          
           
          h3(class='[ offences ] [ o--3 pb--1 ]') Wanted for 
            span(class='[ offence ]') Murder

          p(class='[ details ] [ o--4 ]') Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga corrupti tempore pariatur? Sequi laudantium quaerat voluptas molestiae autem illo eveniet, repellat nesciunt rerum hic. Sapiente.

          //- ul(class='[ addresses ]')
          //-   li 
          //-     strong Last Known Address: 
          //-     | Bacardi Road 

          //-   li 
          //-     strong Last Seen: 
          //-     | 

        section(class='[ desc ] [ pb--3 ]')

          h3(class='[ desc__heading p--025 ]') Description

          ul(class='[ desc__attributes ] [ grid x2--sm pt--1 ]')

            li
              strong Aliases: 
              | Star

            li
              strong Age: 
              | Unknown
            li 
              strong Sex: 
              | Female

            li 
             strong Height: 
             | 5'4"

            li
              strong Build: 
              | Slim

            li
              strong Nationality: 
              | Jamaican

            li 
              strong Scars/Markings: 
              | N/A

      div(class='[ poster__gallery ] [ o--1 ]')
        figure(class='[ poster__img ]')
          +img('', 'John Doe')(width='560' height='560')

        div(class='[ grid x2--sm x4--md ]')

          - t = 0;
          while t++ < 4
            figure(class='[ poster__thumb ]')
              +img('', 'John Doe')

    - person = true
    include ../../partials/_warning

