extends ../../layout/_layout

block var
  - pageTitle = 'Bulletin'
  - description = 'This is a template'
  - bulletin = 'current'

  - crumbs = {'Bulletin':'last'}

block content

  main#main(class='[ main ]')
    include ../../partials/_hero

    div(class='[ bulletin ] [ x--wide grid x2--md pt--5 pb--3 ]')

      ul.loop

        - 
          bulletin = [
            {title:'Safe Driver Awards in Lyford Cay ', desc:'The Western and Traffic Divisions in partnership with the Lyford Cay Security Team conducted a joint Road Safety initiative in Lyford Cay.'}
          ]
        
        - l = 0;
        while l++ < 6
          li.loop__item 
            
            article
              h3(class='[ loop__title ]')
                a(href='/bulletin/post') Safe Driver Awards in Lyford Cay

              p(class='[ loop__desc ]') The Western and Traffic Divisions in partnership with the Lyford Cay Security Team conducted a joint Road Safety initiative in Lyford Cay.

              a(class='[ btn btn--solid--sm solid--blk ]' href='/bulletin/post') Read More

      include ../../partials/_sidebar

    include ../../components/_paginate
